.titleInput {
	width: 100%;
	border: none;
	border-bottom: 2px solid var(--textfield-surface);
	font-size: 22px;
	height: 28px;
	color: rgb(60, 64, 67);
	transition: all .3s;

	&:focus {
		outline: none;
		border-bottom-color: var(--primary);
	}
}
