.idea
frontend/.idea
backend/.idea

frontend/node_modules
backend/node_modules

frontend/docker-compose.yml
frontend/.dockerignore

frontend/dist
backend/dist

frontend/.env
backend/.env
# Logs
logs
*.log
npm-debug.log*
