@import "./variables.scss";
@import "./reset.scss";
@import "./mixin.scss";

@font-face {
	font-family: Roboto, sans-serif;
	src: url("@/assets/fonts/Roboto-Regular.ttf");
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	color: var(--on-surface);
	background: var(--surface);

	button {
		cursor: pointer;
		font-size: 16px;
	}
}

.text-large {
	font-size: 24px;
}

.hover-bg-gray {
	transition: background .3ms;
	background: white;

	&:hover {
		background: var(--background-hover);
	}
}

.navBtn {
	@extend .hover-bg-gray;
	padding: .5rem .6rem;
	font-size: 15px;
	border: 1px solid var(--hairline);
	border-radius: .25rem;
	color: var(--on-surface);
}


