.custom-select {
	&__indicator-separator {
		display: none !important;
	}

	&__control {
		padding: 0 .7rem !important;
		border: 1px solid var(--hairline) !important;
		box-shadow: none !important;

		&:hover {
			background: var(--background-hover) !important;
		}

		&--menu-is-open {
			border: 1px solid var(--hairline) !important;
			background: var(--background-hover) !important;
		}
	}

	&__value-container {
		padding: 0 !important;
		font-size: 15px !important;
	}

	&__indicator {
		padding: 0 !important;
		cursor: pointer;
		margin-left: .5rem !important;
	}
}
