.main {
	padding: 12px 24px 16px 16px;
}


.flexComp {
	display: flex;
	gap: 8px;
	margin-top: 12px;
	align-items: center;

	> div:first-child {
		width: 2.25rem;
		height: 2.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	> div:last-child {
		flex: 1 0;

		textarea {
			width: 100%;
			box-sizing: border-box;
		}
	}
}

.selectTheCreated {
	display: flex;
	gap: 8px;

	button {
		color: var(--textfield-on-surface-variant);
		padding: 0.5rem 0.6rem;
		border-radius: 8px;
		background: none;

		&:hover {
			background: var(--background-hover);
		}

		&:first-letter {
			text-transform: uppercase;
		}
	}

	.selected {
		background: var(--secondary);
		color: var(--primary-variant);

		&:hover {
			background: var(--secondary);
		}
	}
}

.datePicker {
	width: 150px;
	margin-right: 10px !important;
}

.time {
	display: flex;
	align-items: center;
	margin-top: 10px;
}


.footer {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.editForm {
	textarea {
		background: var(--textfield-surface);
	}
}
