.multiEmail {
	position: relative;

	span {
		position: absolute;
		bottom: -18px;
		color: var(--error);
		left: 0;
	}
}

.error {
	background: #FCE8E6;

	&:focus {
		border-bottom-color: var(--error) !important;
	}

	&:hover {
		background: #FCE8E6 !important;
	}
}
