.activity {
	border-radius: 4px;
	color: white;
	display: flex;
	align-items: center;
	font-size: 14px;
	padding: 0 6px;
	cursor: pointer;

	svg {
		margin-right: 5px;
		min-width: 14px;
	}

	span {
		display: inline-block;
		white-space: nowrap;
	}

	h6 {
		white-space: nowrap;
		display: block;
		margin-bottom: 3px;
	}
}

.completed {
	text-decoration: line-through;
}
