.table {
	width: 100%;
	margin-top: 0.75rem;
	height: calc(100vh - 65px - 0.75rem);
	box-sizing: border-box;
	user-select: none;
	border-collapse: separate;

	tr {
		height: 3rem;
		width: 100%;
		box-sizing: border-box;
		display: table;
	}


	thead {
		display: block;
		padding-left: 3.5rem;
		margin-right: 16px;

		tr {
			border-bottom: 1px solid var(--hairline);
		}
	}

	tbody {
		height: calc(100vh - 65px - 0.75rem - 65.39px);
		box-sizing: border-box;
		flex: 1 0;
		overflow-y: scroll;
		display: block;
		padding-left: 3.5rem;

		td {
			border-left: 1px solid var(--hairline);
			position: relative;

			//&::before {
			//	position: absolute;
			//	content: "";
			//	height: 6px;
			//	width: 1px;
			//	border-left: 1px solid var(--hairline);
			//	left: 0;
			//	top: calc(-3rem - 6px);
			//}
		}

		tr {
			border-top: 1px solid var(--hairline);
			position: relative;

			&::before {
				content: attr(data-hour);
				position: absolute;
				font-size: 12px;
				color: var(--on-surface-variant);
				left: -48px;
				top: -6px;
			}

			&:first-of-type::before {
				content: "";
			}
		}

		tr:first-child {
			border: none
		}
	}
}

