.circleBtn {
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	transition: background .2s;

	svg {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform .4s;

		path {
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}

	&:hover {
		background: var(--background-hover);
	}
}

.bgHoverDark {
	&:hover {
		background: var(--gray);
	}
}
