.formInput {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	input {
		opacity: 0;
		height: 0;
		width: 0;
		line-height: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}

	img {
		display: block;
		border-radius: 100%;
		margin-top: .3rem;
	}
}
