.header {
	position: relative;

	> div:first-child {
		padding: 0.5rem 0.7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		user-select: none;
		border-bottom: 1px solid var(--gray);

		> div {
			display: flex;
			align-items: center;
		}

		.extraOptions {
			gap: .5rem;
		}
	}
}

.wrapper {
	display: flex;
	transition: all .25s;
	//gap: 2rem;

	main {
		flex: 1 0;
		//width: 100%;
		//box-sizing: border-box;
	}
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 2.5rem;
	margin-left: .5rem;

	img {
		height: 2.5rem;
		width: 2.5rem;
	}

	div {
		position: relative;
		margin-right: .5rem;
		display: flex;
		align-items: center;
	}

	.currentDay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: var(--primary);
		font-weight: 600;
		font-size: 14px;
	}
}

.select {
	width: 100px;
}

.hideSidebar {
	svg {
		transform: rotate(-90deg);
	}
}

.sidebar {
	width: 256px;
	padding: 0 .5rem;
	height: 100%;
	box-sizing: border-box;

	.emptyDiv {
		height: 84px;
	}
}


