.header {
	padding: 0.5rem 0.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	border-bottom: 1px solid var(--gray);
	position: relative;

	> div {
		display: flex;
		align-items: center;
	}

	.extraOptions {
		gap: .5rem;
	}
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 2.5rem;
	margin-left: .5rem;

	img {
		height: 2.5rem;
		width: 2.5rem;
	}

	div {
		position: relative;
		margin-right: .5rem;
		display: flex;
		align-items: center;
	}

	.currentDay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: var(--primary);
		font-weight: 600;
		font-size: 14px;
	}
}

.select {
	width: 100px;
}

.hideSidebar {
	svg {
		transform: rotate(-90deg);
	}
}

.sidebar {
	width: 256px;

	.emptyDiv {
		height: 84px;
	}
}
